@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px;
  font-weight: 600;
  color: rgb(10, 145, 249);
}
ul {
  margin-top: 10px;
}
li {
  margin-top: 6px;
}
.create-your-page {
  margin-top: 40px;
  font-size: 20px;
  border-bottom: 2px solid rgb(92 179 247);
}
@media (max-width: 1024px) {
  .create-your-page  {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .create-your-page  {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 1.5rem;
  }
}

